* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}

header {
    background-color: black;
    padding: 30px 0px 30px 51px;
}

header .logo img {
    background-color: black;
    width: 120px;
}


section {
    background: linear-gradient(rgba(11, 1, 1, 0.9) 0%, rgb(0, 0, 0) 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.main {
    margin: 32px 0;
    padding: 32px;
    width: 734px;
    height: 910px;
    background: #000;
    border-radius: 5px;
}

section .main h1 {
    text-align: center;
    margin: 48px 0;
    color: white;
    font-size: 48px;
}

section div.main .account-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



section div.main .account-connect button {
    width: 324px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 5px;
    border: 500px;
    color: white;
    background: transparent;
    border: 1px solid #878787;
    font-size: 15px;
    font-weight: bold;
    }


    section div.main .account-connect button img {
        width: 23px;
        float: left;
        margin: 0px 10px;
    }
